<mat-toolbar class="navbar">
  <span class="navbar-title"><pre>VEHICLE LOANHUB</pre></span>
  <span class="spacer"></span>
  <div class="user-indicator">{{username}} / user</div>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/view_all_loans">Loans</a>
  <a mat-button routerLink="/applied_loans">Applied Loans</a>
  <button mat-button (click)="openLogoutDialog()" class="logout-button">Logout</button>
</mat-toolbar>

<!-- Confirmation Dialog -->
<ng-template #logoutConfirmDialog let-dialogRef="dialogRef">
  <div class="custom-dialog">
    <h2 mat-dialog-title style="text-align: center;">Confirm Logout</h2>
    <mat-dialog-content>Are you sure you want to logout?</mat-dialog-content>
    <mat-dialog-actions class="custom-dialog-actions">
      <button mat-button class="cancel-button" (click)="dialogRef.close(false)">Cancel</button>
      <button mat-button class="logout-button" (click)="dialogRef.close(true)">Logout</button>
    </mat-dialog-actions>
  </div>
</ng-template>
