.navbar {
  background-color: #2c3e50;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}

.navbar-title {
  font-weight: bold;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.user-indicator {
  background-color: transparent;
  color: gold;
  border: 1.5px solid gold;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.logout-button {
  background-color: #E74C3C;
  color: white;
}

.cancel-button{
  margin: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* .custom-dialog {
  width: 400px; 
  max-width: 100%;
}

.custom-dialog-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.logout-button {
  background-color: #E74C3C;
  color: white;
} */

@media (max-width: 600px) {
  .navbar {
      flex-direction: row;
      justify-content: space-between;
  }

  .navbar-title {
      margin-bottom: 0;
  }

  .spacer {
      display: none;
  }

  .hamburger {
      display: block;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links a, .nav-links .logout-button {
      margin: 5px 0;
      width: 100%;
      text-align: left;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .navbar {
      padding: 0 20px;
  }

  a, .logout-button {
      margin-right: 15px;
  }
}

